



/* ========== FOTO DE PERFIL ========== */
.foto-perfil {
    width: 155px;              /* ancho del círculo */
    height: 155px;             /* alto del círculo */
    border-radius: 50%;        /* hace que sea redondo (50% = círculo perfecto) */
    overflow: hidden;          /* corta cualquier contenido que salga del círculo */
    border: 3px solid cadetblue; /* borde azul claro de 3px */
}

/* imagen dentro del círculo */
.foto-perfil img {
    width: 100%;               /* imagen ocupa todo el ancho del contenedor */
    height: 100%;              /* imagen ocupa todo el alto del contenedor */
    object-fit: cover;         /* ajusta la imagen sin deformarla */
}

.nombre-usuario {
    position: absolute;        /* posicionamiento absoluto para colocar el texto */
    top: 80px;                 /* baja 20px desde la parte superior del contenedor */
    left: 170px;                /* se corre 50px a la derecha */

    width: 335px;
    height: 40px;
    border-radius: 50px;

    background-color: cornflowerblue;
    font-size: 24px;           /* tamaño del letra */
    color: rgb(1, 4, 9);              /* color del texto blanco */
    font-weight: bold;         /* texto en negrita */
    border: 2px solid #2c3e50;

    display: flex;            
    align-items: center;
    justify-content: center;
}



.descriccion-perfil {
    /* POSICIÓN */
            /* espacio exterior de 20px en todos lados */
    position: absolute;         /* posicionamiento relativo al flujo normal */
    top: 155px;                 /* baja 30px desde su posición original */
    left: 170px;               /* se corre 50px a la derecha */

    /* TAMAÑO */
    width: 300px;              /* ancho del rectángulo */
    height: 40px;             /* alto del rectángulo */

    /* ESTILO VISUAL */
    border-radius: 50px;        /* esquina redondeada */
    background-color: #3498db; /* color de fondo azul */
    border: 2px solid #2c3e50; /* borde azul oscuro de 2px */
    padding: 20px;             /* espacio interior entre el contenido y el borde */

    /* TEXTO */
    font-size: 18px;           /* tamaño del letra */
    color: rgb(35, 85, 184);              /* color del texto blanco */

    /* ALINEACIÓN DEL CONTENIDO */
    display: flex;             /* activa el modelo flexbox para alinear contenido */
    align-items: center;       /* centra el texto verticalmente */
    justify-content: center;   /* centra el texto horizontalmente */
}

.editar-perfil {
    position: absolute;
    top: 250px;
    left: 35px;
  

    width: 100px;
    height: 35px;
    border-radius: 50px;
   
    background-color: wheat;
    border: 2px solid grey;
    padding: 10px;
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadro-de-fondo {
         
    height: 370px;
    left: -10px;
    background-color: #Ffa420;
    color: #3498db;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
