* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #bc4747 0%, #d86262 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* alineado vertical */
    justify-content: center; /* vertical */
    align-items: center;     /* Oigan este es el centrado horizontal*/
    padding: 40px 20px;
    color: #333;
    position: relative; 
}

.btn-logout {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: #C21514;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid #9D6934; /* Usando tu Oro Oscuro */
    border-radius: 4px;
    background: #F1DEAF;      /* Tu Cookies & Cream */
    font-size: 0.9rem;
    transition: 0.3s;
    z-index: 10;
}

.btn-logout:hover {
    background: #C21514;
    color: #fff;
    border-color: #C21514;
}

.header-centrado {
    margin-bottom: 25px; 
}

.btn-crear-superior {
    display: inline-block;
    padding: 14px 28px;
    background-color: #C21514;
    color: #F1DEAF;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 5px solid #9D6934;
    transition: all 0.2s ease;
}

.btn-crear-superior:hover {
    background-color: #9D6934;
    color: #fff;
    transform: translateY(-2px);
}

main {
    background: #F1DEAF;
    padding: 2.5rem;
    border-radius: 4px;
    border: 3px solid #9D6934;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 450px;
    position: relative;
    outline: 1px solid rgba(255,255,255,0.5);
    outline-offset: -5px;
}

h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: #C21514;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #9D6934;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
}

