* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, rgba(255, 231, 170, 0.8) 0%, rgba(255, 224, 172, 0.838) 100%), url('imageness/fondoComi.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: #333;
    padding-top: 240px; 
    margin: 0;
}


.header-rojo {
    background-color: #d64040; 
    padding: 20px 0;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}

.header-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.logo-contenedor img {
    height: 60px; 
    width: auto;
}

/*uuuuuuuuuuuuuuuuuuuuuuuuuuuuu*/

.search-bar {
    background: white;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 30px;
    width: 50%;
    border: 2px solid #000;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    align-items: center;
}


.menu-opciones {
    background-color: #eedbb6; 
    border-radius: 15px;
    padding: 10px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    width: fit-content;
}

.menu-opciones ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0 !important; 
    padding: 0 !important; 
    align-items: center;
}

.menu-opciones li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    color: #5d3a3a;
}

.menu-opciones img {
    width: 20px; 
    height: 20px;
}

/*uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu*/

.btn-publicar {
    background-color: #C21514;
    color: #F1DEAF;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border-bottom: 4px solid #9D6934;
    text-transform: uppercase;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.2s;
}

.btn-publicar:hover {
    background-color: #ff7c3fe7;
    color: white;
    transform: translateY(-2px);
}

.user-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #eedbb6;
}


main {
    background: #F1DEAF;
    padding: 2.5rem;
    border-radius: 10px;
    border: 3px solid #9D6934;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    width: 95%;
    max-width: 500px;
}