.header-rojo {

    background-color: #973a3a; 
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.header-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 1400px;
}

.logo-contenedor img {
    height: 60px; 
    align-items: left;
    width: auto;
}


.search-bar {
    background: white;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 30px;
    width: 50%;
    border: 2px solid #000;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.menu-opciones {
    background-color: #eedbb6; 
    border-radius: 15px;
    padding: 8px 25px;
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-opciones ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu-opciones li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.menu-opciones img {
    width: 18px; /* Tamaño de los iconos pequeñitos del menú */
    height: 18px;
}

.user-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: hsl(40, 59%, 84%); /* Por si la imagen no carga */
}

body {
    background: linear-gradient(135deg, rgba(231, 159, 71, 0.8) 0%, rgba(244, 220, 179, 0.8) 100%), url('imageness/Fondo_pant.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    color: #333;
    position: relative;
}                             